

.navbar{
  background: #EAEDFF
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: #f8f9fa; /* Optional: you can change the background color as needed */
  width: 100%; 
}

.soms{
  background-color: #a89934;
}

